 body {
    position: fixed;
    width: 100%;
    height: 100%;
}

#arena {
    margin: 0 auto;
    display: table;
    background-color: #BDDB93;   
    border: 5px solid #002100;
}

#arena tr td.activeSnake {
    background-color: #002100;   
}

#arena tr td.activeSnakeHead {
    background-color: #ff0000;   
}

#arena tr td.activeFood {
    background-color: #8D8B72;   
}

#arena tr td {
    background-color: #BDDB93;
}